.img-contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* intestazione pagina */
header {
    background-color: #333;
    height: 80px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border: 5px solid #488ac7;
}

header h1 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

/* contenitore foto */
.slider-photo {
    position: relative;
    background-color: #333;
    border-radius: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.slider-photo-inner {
    height: calc(100vh - 232px);
}

/* freccie per cambiare foto */
.arrow-box i {
    font-size: 20px;
    position: relative;
    transition: all 1s ease-in-out;
}

.arrow-box.text-end:hover i {
    right: 10px;   
    font-size: 40px;
}

.arrow-box.text-start:hover i {
    left: 10px;   
    font-size: 40px;
}

/* box-dot e avanzamento foto */
.box-dot {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 24px;
    padding: 12px;
    position: absolute;
    transform: translate(-50%);
    bottom: 48px;
    left: 50%;
    display: none;
}

.box-dot i {
    color: #fff;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 12px;
}

.box-dot .detected {
    color: #488ac7;
}

.slider-photo-box:hover .box-dot {
    display: block;
}

.box-dot .sync {
    text-align: right;

} 

.box-dot i.no-rotate {
    color: rgba(255, 255, 255, 0.5);
}

.box-dot-inner {
    display: flex;
    justify-content: space-between;
}

/* footer anteprima */

footer .display {
    background-color: #333;
    height: 80px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    display: none;
}

footer .preview {
    height: 100%;
}

footer .preview-img {
    height: 58px;
    background-color: #333;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    margin-left: 6px;
    margin-right: 6px;
}

footer .preview-img:first-child {
    margin-left: 12px;
}

footer .preview-img:last-child {
    margin-right: 12px;
}


footer .preview-img.detected {
    border: 2px solid #488ac7;
}

/* sezione full screen */
section.full-screen {
    height: 100vh;
    background-color: #333;
    border-radius: 12px;
}


/* ---------------------------------------- */
@media all and (min-width: 768px) {
    footer .display {
        display: block;
    }

    footer .preview-img {
        height: 42px;
    }
}

@media all and (min-width: 992px) {
    footer .preview-img {
        height: 58px;
    }
}